@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
body {
  background-color: #A3E7E1;
  background-image:linear-gradient(white 20%, #A3E7E1 20%);
}
h1 {
text-align: center; center;
font-family: 'Roboto Mono', monospace;
font-weight: normal;
text-transform: uppercase;
border-bottom: 1px solid #57b1dc;
margin-top: 30px;
font-weight:bold;
letter-spacing: 1em;
}
h2 {
text-align:center;center;
font-family: 'Roboto Mono', monospace;
color: #2F4F4F;
font-size: 2em;
text-transform:uppercase;
}
ul, li {
text-align: center;center;
list-style-position: inside;
list-style-type: circle;
font-family: 'IBM Plex Serif', serif;
color: #000000;
font-size: 1em;
font-weight:500;
}
p {
text-align:center;center;
font-family: 'IBM Plex Serif', serif;
}
a {
display: block;
margin-left:45%;
margin-right:45%;
width: auto;
background-color:white;
border: 1px solid white;
}
a:visited {
  background-color: #B6FDF6;
  border-color: white;
  color: #2F4F4F;
}
